*/ED_region_examples/

MIP2_Region/ED_region_examples/OGE2_30S030W.h5

MIP2_Region/ED_region_examples/OGE2_30S030W.h5

MIP2_Region/ED_region_examples/dgd/temp.dgd.avg.dat

MIP2_Region/ED_region_examples/chd/temp.chd.avg.dat

MIP2_Region/.history

MIP2_Region/TEST.csv

MIP2_Region/.history

*.history

*/*/test_files

*/*/spin*_qaqc.v*
*/*/phase2_spin*.v*
*/*/crash_logs/*
